<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<appSettings>
		<add key="Use_Flash" value="True"/>
		<add key="Flash_Type" value="Global"/>
		<add key="Flash_Margin" value="0.5"/>
		<add key="Target_Margin" value="0.3"/>
		<add key="DocumentPath" value="\\vfs0006\RadData\oncology\ESimiele\Research\VMAT_TBI\documentation\"/>
		<add key="Default_Course_Id" value="VMAT TBI"/>
		<add key="VMAT_All_Fields" value="false"/>
	</appSettings>
</configuration>
